<footer id="darker-footer" class="footer text-white">
	<section class="container">
		<div class="row img-wrapper">
			<img src="./../../../assets/ChasLogoSvgWht.svg" alt="Chas Visual Management" class="img-responsive">
		</div>
	</section>

	<hr class="upper-line">
	<section class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3 single-contact-block">
				<h4>Kontoret</h4>
				<ul class="list-unstyled">
					<li>Stubbsundsvägen 11</li>
					<li>131 41 Nacka</li>
					<li>Sverige</li>
					<li><strong>Tel: </strong>
						<a href="tel:08 744 55 49">08 744 55 49</a>
					</li>
				</ul>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-4 single-contact-block footer-grid">
				<h4>Rekryteringsansvarig</h4>
				<ul class="list-unstyled">
					<li>Marcus Kong</li>
					<li><strong>Tel: </strong>
						<a href="tel:073 517 17 13">073 517 17 13</a>
					</li>
				</ul>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-3 single-contact-block">
				<h4>Sälj</h4>
				<ul class="list-unstyled">
					<li>Peter Lindström</li>
					<li><strong>Tel: </strong>
						<a href="tel:073 517 10 10">073 517 10 10</a>
					</li>
				</ul>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-2 single-contact-block">
				<h4>Pressansvarig</h4>
					<ul class="list-unstyled">
						<li>Aurora Gullberg</li>
						<li><strong>Tel: </strong>
							<a href="tel:070 722 79 00">070 722 79 00</a>
						</li>
					</ul>
      </div>
    </div>

			<div class="row">
				<div class="col-xs-12">
					<p>Samtliga anställda kan nås via för.efternamn@chas.se <br/>
							<a href="/kontakt">
									Visa mer kontaktinformation</a>
					</p>
				</div>
			</div>
	</section>

	<section class="container">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="row footer-links">
				<span class="fa-stack fa-2x">
					<a href="#">
						<i class="fa fa-facebook fa-stack-1x" aria-hidden="true"></i>
					</a>
				</span>
				<span class="fa-stack fa-2x">
					<a href="#">
						<i class="fa fa-linkedin fa-stack-1x" aria-hidden="true"></i>
					</a>
				</span>
			</div>
		</div>
	</section>

<hr class="lower-line">
	<section class="container">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="copywrite">
				<p>TM & © 2017 Chas Visual Management AB<button id="cookie-button" type="button" data-toggle="modal" data-remote="myRemoteURL.do" data-target="#cookieModal">Cookies</button>
				</p>
			</div>
		</div>
	</section>
</footer>