.container-fluid {
    font-family:DINCond-Bold;
    width: 100%;
    min-width: 100%;
}
.card-table {

    text-align: center;
    max-width: 300px;
}

.planning-poker {
    background: rgba(52, 152, 101, 0.56);
    min-height: 568px;
}

.faceup {
    width: 273px; 
    font-size: 140px; 
    border: 10px solid #F9F9F9;
    height: 378px;
    text-align: center;
    font-weight: bolder;
    display: inline-block;
    font-weight: bolder;
    background-color: #E2E2E2;
    border-radius: 20px;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.3);
}

.backside {
    width: 273px;
    font-size: 0px;
    border: 10px solid #F9F9F9;
    height: 378px;
    text-align: center;
    font-weight: bolder;
    display: inline-block;
    background-color: #2b2f2f;
    border-radius: 20px;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.3);
    background-image: url('../assets/chasLogo.svg');
    background-repeat: no-repeat;
    background-position-y: 80px;
    background-position-x: 24px;
    background-size: 80%;
}

.faceup-small {
    display: inline-block;
    width: 70px;
    height: 97px;
    border: 2px solid #F9F9F9;
    border-radius: 5px;
    background: #E2E2E2;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.6);
}

.backside-small {
    display: inline-block;
    width: 70px;
    height: 97px;
    color: #2b2f2f;
    background-color: #2b2f2f;
    border: 2px solid #F9F9F9;
    border-radius: 5px;
    background-image: url('../assets/chasLogo.svg');
    background-repeat: no-repeat;
    background-position-y: 20px;
    background-position-x: 6px;
    background-size: 80%;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.6);
}

.faceup-small p, .backside-small p {
    margin-top: -8px;
    font-size: 45px;
}

.faceup:hover, .faceup-small:hover, .backside:hover, .backside-small:hover {
cursor: pointer;
}
.btn-chas {
    border:2px solid #de667b;
    background-color:#de667b;
    color:#fff;
    width: 90%;
    -ms-flex-item-align:center;
    -ms-grid-row-align:center;
    align-self:center;
    font-size:1.2rem
}
.btn-chas:hover {
    border:2px solid #e68391;
    background-color:#e68391;
    color:#fff;
    cursor: pointer;
}
.btn-chas:active {
    background-color:F9F9F9;
    border:2px solid #de667b;
    color:#de667b
}